# Import & Load NESI data

### Config

In [1]:
import sys
import configparser
config = configparser.ConfigParser()
config.read_file(open('../../settings.ini'))

sys.path.insert(0, config.get('PATHS','libs_path'))
engine_path = config.get('DATABASE','engine_path')

### Main params

In [2]:
remote_path = 'http://pacha.datawheel.us/economia/nesi/analysis/2_wages_by_categories/2_csv/'
local_path = '../data/'

### Imports

In [3]:
import postgres #from local file postgres.py
from commons import inline_table_xml, download_file #from local file commons.py

import json
import pandas as pd
from sqlalchemy import create_engine

### Load & rename

In [4]:
df = download_file(remote_path,local_path,'wages_by_categories.csv')
df = df.rename(columns={'occupation': 'occupation_id', 'icse': 'icse_id','isced':'isced_id','isco':'isco_id','journey':'journey_id','sex':'sex_id'})
df = df[['year','comuna_datachile_id','age','occupation_id','sex_id','icse_id','isced_id','isco_id','journey_id','age_range_id','income','weight']]

df = df.astype({'year':'int','comuna_datachile_id':'int','age':'int','occupation_id':'int','sex_id':'int','icse_id':'int','isced_id':'int','isco_id':'int','journey_id':'int','age_range_id':'int','income':'int'})
list(df)

['year',
 'comuna_datachile_id',
 'age',
 'occupation_id',
 'sex_id',
 'icse_id',
 'isced_id',
 'isco_id',
 'journey_id',
 'age_range_id',
 'income',
 'weight']

### Ingest

In [5]:
engine = create_engine(engine_path)
db = postgres.PostgresDriver(engine)
db.to_sql(df, 'economy', 'fact_income_nesi')

CREATE SCHEMA IF NOT EXISTS economy;
DROP TABLE IF EXISTS economy.fact_income_nesi;
CREATE TABLE "economy"."fact_income_nesi" (
"year" INTEGER,
  "comuna_datachile_id" INTEGER,
  "age" INTEGER,
  "occupation_id" INTEGER,
  "sex_id" INTEGER,
  "icse_id" INTEGER,
  "isced_id" INTEGER,
  "isco_id" INTEGER,
  "journey_id" INTEGER,
  "age_range_id" INTEGER,
  "income" INTEGER,
  "weight" REAL
)
COPY "economy"."fact_income_nesi" ("year","comuna_datachile_id","age","occupation_id","sex_id","icse_id","isced_id","isco_id","journey_id","age_range_id","income","weight") FROM STDIN WITH CSV HEADER DELIMITER ',';

In [6]:
### Foreign & indexes

In [7]:
engine.execute("""
ALTER TABLE economy.fact_income_nesi
  ADD COLUMN date_id INTEGER; 
""")

engine.execute("""
UPDATE economy.fact_income_nesi
SET date_id = dim_date.id
FROM public.dim_date
WHERE dim_date.the_year = economy.fact_income_nesi.year
      AND dim_date.month_of_year = 1
      AND dim_date.day_of_month = 1
""")

engine.execute("""
CREATE INDEX fact_income_nesi_comuna_datachile_id
ON economy.fact_income_nesi (comuna_datachile_id)
""")

### Related dim

In [8]:
d1 = download_file(remote_path,local_path,'age_range_id.csv')
print (inline_table_xml(d1, 'age_range', 'age_range_id', 'age_range'))

<InlineTable alias="age_range">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">1</Value>
      <Value column="description">15 a 19</Value>
      <Value column="es_description">15 a 19</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">20 a 24</Value>
      <Value column="es_description">20 a 24</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">25 a 29</Value>
      <Value column="es_description">25 a 29</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">30 a 65</Value>
      <Value column="es_description">30 a 65</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">65 a edad max</Value>
      <Value column="es_description">65 a edad max</Value>
    </Row>
  </Rows>
</InlineTable>

In [9]:
d2 = download_file(remote_path,local_path,'icse_id.csv')
print (inline_table_xml(d2, 'icse', 'icse_id', 'icse'))

<InlineTable alias="icse">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">0</Value>
      <Value column="description">No corresponde</Value>
      <Value column="es_description">No corresponde</Value>
    </Row>
  <Row>
      <Value column="id">1</Value>
      <Value column="description">Empleador</Value>
      <Value column="es_description">Empleador</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Cuenta Propia</Value>
      <Value column="es_description">Cuenta Propia</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">Asalariado Sector Privado</Value>
      <Value column="es_description">Asalariado Sector Privado</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">Asalariado Sector Público</Value>
      <Value column="es_description">Asalariado Sector Público</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">Personal de Servicio Doméstico Puertas Afuera</Value>
      <Value column="es_description">Personal de Servicio Doméstico Puertas Afuera</Value>
    </Row>
  <Row>
      <Value column="id">6</Value>
      <Value column="description">Personal de Servicio Doméstico Puertas Adentro</Value>
      <Value column="es_description">Personal de Servicio Doméstico Puertas Adentro</Value>
    </Row>
  <Row>
      <Value column="id">7</Value>
      <Value column="description">Familiar o Personal no Remunerado</Value>
      <Value column="es_description">Familiar o Personal no Remunerado</Value>
    </Row>
  </Rows>
</InlineTable>

In [10]:
d3 = download_file(remote_path,local_path,'isced_id.csv')
print (inline_table_xml(d3, 'isced', 'isced_id', 'isced'))

<InlineTable alias="isced">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">1</Value>
      <Value column="description">Nunca estudió</Value>
      <Value column="es_description">Nunca estudió</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Educación Preescolar</Value>
      <Value column="es_description">Educación Preescolar</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">Educación Primaria (nivel 1)</Value>
      <Value column="es_description">Educación Primaria (nivel 1)</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">Educación Primaria (nivel 2)</Value>
      <Value column="es_description">Educación Primaria (nivel 2)</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">Educación Secundaria</Value>
      <Value column="es_description">Educación Secundaria</Value>
    </Row>
  <Row>
      <Value column="id">6</Value>
      <Value column="description">Educación Técnica (Educación Superior no Universitaria)</Value>
      <Value column="es_description">Educación Técnica (Educación Superior no Universitaria)</Value>
    </Row>
  <Row>
      <Value column="id">7</Value>
      <Value column="description">Educación Universitaria</Value>
      <Value column="es_description">Educación Universitaria</Value>
    </Row>
  <Row>
      <Value column="id">8</Value>
      <Value column="description">Postítulo y Maestría</Value>
      <Value column="es_description">Postítulo y Maestría</Value>
    </Row>
  <Row>
      <Value column="id">9</Value>
      <Value column="description">Doctorado</Value>
      <Value column="es_description">Doctorado</Value>
    </Row>
  <Row>
      <Value column="id">999</Value>
      <Value column="description">Nivel ignorado</Value>
      <Value column="es_description">Nivel ignorado</Value>
    </Row>
  </Rows>
</InlineTable>

In [11]:
d4 = download_file(remote_path,local_path,'isco_id.csv')
print (inline_table_xml(d4, 'isco', 'isco_id', 'isco'))

<InlineTable alias="isco">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">0</Value>
      <Value column="description">nan</Value>
      <Value column="es_description">nan</Value>
    </Row>
  <Row>
      <Value column="id">1</Value>
      <Value column="description">Miembros del poder ejecutivo, legislativo y de la administración pública y de empresas públicas</Value>
      <Value column="es_description">Miembros del poder ejecutivo, legislativo y de la administración pública y de empresas públicas</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Profesionales científicos e intelectuales</Value>
      <Value column="es_description">Profesionales científicos e intelectuales</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">Técnicos y profesionales de nivel medio</Value>
      <Value column="es_description">Técnicos y profesionales de nivel medio</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">Empleados de oficina</Value>
      <Value column="es_description">Empleados de oficina</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">Trabajadores de los servicios y vendedores de comercios y mercados</Value>
      <Value column="es_description">Trabajadores de los servicios y vendedores de comercios y mercados</Value>
    </Row>
  <Row>
      <Value column="id">6</Value>
      <Value column="description">Agricultores y trabajadores calificados agropecuarios y pesqueros</Value>
      <Value column="es_description">Agricultores y trabajadores calificados agropecuarios y pesqueros</Value>
    </Row>
  <Row>
      <Value column="id">7</Value>
      <Value column="description">Oficiales, operarios y artesanos de artes mecánicas y de otros oficios</Value>
      <Value column="es_description">Oficiales, operarios y artesanos de artes mecánicas y de otros oficios</Value>
    </Row>
  <Row>
      <Value column="id">8</Value>
      <Value column="description">Operadores de instalaciones, máquinas y montadores</Value>
      <Value column="es_description">Operadores de instalaciones, máquinas y montadores</Value>
    </Row>
  <Row>
      <Value column="id">9</Value>
      <Value column="description">Trabajadores no calificados</Value>
      <Value column="es_description">Trabajadores no calificados</Value>
    </Row>
  <Row>
      <Value column="id">10</Value>
      <Value column="description">Otros no identificados</Value>
      <Value column="es_description">Otros no identificados</Value>
    </Row>
  </Rows>
</InlineTable>

In [12]:
d5 = download_file(remote_path,local_path,'isic_id.csv')
print (inline_table_xml(d5, 'isic', 'isic_id', 'isic'))

<InlineTable alias="isic">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">0</Value>
      <Value column="description">nan</Value>
      <Value column="es_description">nan</Value>
    </Row>
  <Row>
      <Value column="id">1</Value>
      <Value column="description">Agricultura, ganadería, caza y silvicultura</Value>
      <Value column="es_description">Agricultura, ganadería, caza y silvicultura</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Pesca</Value>
      <Value column="es_description">Pesca</Value>
    </Row>
  <Row>
      <Value column="id">3</Value>
      <Value column="description">Explotación de minas y canteras</Value>
      <Value column="es_description">Explotación de minas y canteras</Value>
    </Row>
  <Row>
      <Value column="id">4</Value>
      <Value column="description">Industrias manufactureras</Value>
      <Value column="es_description">Industrias manufactureras</Value>
    </Row>
  <Row>
      <Value column="id">5</Value>
      <Value column="description">Suministro de electricidad, gas y agua</Value>
      <Value column="es_description">Suministro de electricidad, gas y agua</Value>
    </Row>
  <Row>
      <Value column="id">6</Value>
      <Value column="description">Construcción</Value>
      <Value column="es_description">Construcción</Value>
    </Row>
  <Row>
      <Value column="id">7</Value>
      <Value column="description">Comercio al por mayor y al por menor; reparación de vehículos automotores, motocicletas, efectos personales y enseres</Value>
      <Value column="es_description">Comercio al por mayor y al por menor; reparación de vehículos automotores, motocicletas, efectos personales y enseres</Value>
    </Row>
  <Row>
      <Value column="id">8</Value>
      <Value column="description">Hoteles y restaurantes</Value>
      <Value column="es_description">Hoteles y restaurantes</Value>
    </Row>
  <Row>
      <Value column="id">9</Value>
      <Value column="description">Transporte, almacenamiento y comunicaciones</Value>
      <Value column="es_description">Transporte, almacenamiento y comunicaciones</Value>
    </Row>
  <Row>
      <Value column="id">10</Value>
      <Value column="description">Intermediación financiera</Value>
      <Value column="es_description">Intermediación financiera</Value>
    </Row>
  <Row>
      <Value column="id">11</Value>
      <Value column="description">Actividades inmobiliarias, empresariales y de alquiler</Value>
      <Value column="es_description">Actividades inmobiliarias, empresariales y de alquiler</Value>
    </Row>
  <Row>
      <Value column="id">12</Value>
      <Value column="description">Administración pública y defensa; planes de seguridad social de afiliación obligatoria</Value>
      <Value column="es_description">Administración pública y defensa; planes de seguridad social de afiliación obligatoria</Value>
    </Row>
  <Row>
      <Value column="id">13</Value>
      <Value column="description">Enseñanza</Value>
      <Value column="es_description">Enseñanza</Value>
    </Row>
  <Row>
      <Value column="id">14</Value>
      <Value column="description">Servicios sociales y de salud</Value>
      <Value column="es_description">Servicios sociales y de salud</Value>
    </Row>
  <Row>
      <Value column="id">15</Value>
      <Value column="description">Otras actividades de servicios comunitarios, sociales y personales</Value>
      <Value column="es_description">Otras actividades de servicios comunitarios, sociales y personales</Value>
    </Row>
  <Row>
      <Value column="id">16</Value>
      <Value column="description">Hogares privados con servicio doméstico</Value>
      <Value column="es_description">Hogares privados con servicio doméstico</Value>
    </Row>
  <Row>
      <Value column="id">17</Value>
      <Value column="description">Organizaciones y órganos extraterritoriales</Value>
      <Value column="es_description">Organizaciones y órganos extraterritoriales</Value>
    </Row>
  </Rows>
</InlineTable>

In [13]:
d6 = download_file(remote_path,local_path,'journey_id.csv')
print (inline_table_xml(d6, 'journey', 'journey_id', 'journey'))

<InlineTable alias="journey">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">0</Value>
      <Value column="description">nan</Value>
      <Value column="es_description">nan</Value>
    </Row>
  <Row>
      <Value column="id">1</Value>
      <Value column="description">Completa</Value>
      <Value column="es_description">Completa</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Parcial</Value>
      <Value column="es_description">Parcial</Value>
    </Row>
  </Rows>
</InlineTable>

In [14]:
d7 = download_file(remote_path,local_path,'occupation_id.csv')
print (inline_table_xml(d7, 'occupation', 'occupation_id', 'occupation'))

<InlineTable alias="occupation">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">0</Value>
      <Value column="description">nan</Value>
      <Value column="es_description">nan</Value>
    </Row>
  <Row>
      <Value column="id">0</Value>
      <Value column="description">Ocupados con menos de 1 mes en el empleo actual</Value>
      <Value column="es_description">Ocupados con menos de 1 mes en el empleo actual</Value>
    </Row>
  <Row>
      <Value column="id">1</Value>
      <Value column="description">Ocupados con más de 1 mes en el empleo actual</Value>
      <Value column="es_description">Ocupados con más de 1 mes en el empleo actual</Value>
    </Row>
  </Rows>
</InlineTable>

In [15]:
d8 = download_file(remote_path,local_path,'sex_id.csv')
print (inline_table_xml(d8, 'sex', 'sex_id', 'sex'))

<InlineTable alias="sex">
  <ColumnDefs>
    <ColumnDef name="id" type="Numeric" />
    <ColumnDef name="description" type="String" />
    <ColumnDef name="es_description" type="String" />
  </ColumnDefs>
  <Rows>
    <Row>
      <Value column="id">1</Value>
      <Value column="description">Hombre</Value>
      <Value column="es_description">Hombre</Value>
    </Row>
  <Row>
      <Value column="id">2</Value>
      <Value column="description">Mujer</Value>
      <Value column="es_description">Mujer</Value>
    </Row>
  </Rows>
</InlineTable>